<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Amin Edit News Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/adminDbEdit.css}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <!--<script th:src="@{/richtext/ckeditor/ckeditor.js}"></script>-->
        <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>

    </head>

    <body>
        <header class="header" id="header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <h2><a exact="true" class="logo" th:href="@{#}">LMS</a></h2>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    </li>
                </ul>
                <div sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" style=" color: #7d99ff; " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome <b><span sec:authentication="name">Username</span></b>
                                <span sec:authentication="principal.authorities">Roles</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                            </div>
                        </li>
                    </ul>                
                </div>


            </nav>
        </header>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <li class="active">
                        <a th:href="@{/admin/home}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/subject}"><i class="fas fa-list-ul"></i>Subject</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/account}"><i class="fas fa-id-card"></i>Account</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/user}"><i class="fas fa-book-open"></i>User</a>
                    </li>
                </ul>
            </nav>
            <!-- Page Content -->
            <div id="content">
                <div class="container-fluid">
                    <h3><i class="fas fa-tachometer-alt"></i> Dashboard</h3>

                    <div class="main-container">
                        <!--  -->
                        <h3 th:text="${message}" style="color: green" text-center></h3>
                        <h3 th:text="${msgError}" style="color: red" text-center></h3>
                        <fieldset class="fs">
                            <legend><strong>Edit Announcement</strong></legend>
                            <form class="form-add-product" th:object="${news}" th:action="@{/admin/editNews}" method="POST" style="margin-top: 20px;">
                                <div>
                                    <label>
                                        <strong>Title</strong>
                                    </label>
                                    <div>
                                        <input name="title" type="text" th:field="*{title}"/>
                                    </div>
                                </div>

                                <div>
                                    <label>
                                        <strong>Content</strong>
                                    </label>
                                    <div>
                                        <textarea name="content" cols="90" rows="5" th:field="*{infor}"></textarea>
                                    </div>
                                </div>

                                <!--                                <div class="form-group">
                                                                    <label class="control-label"><strong>Create Date</strong></label>
                                                                    <div class='input-group date' style="width: 40%; border-radius: 1px;">
                                                                        <input type="text" id="currentDateTime" readonly>
                                                                    </div>
                                                                </div>
                                
                                                                <div>
                                                                    <label><strong>Create By :</strong> </label>
                                
                                                                    <input name="" type="text" value=" Nguyễn Xuân Hưng (FPTU HCM)" style="width: 50%;" ; />
                                
                                                                </div>-->
                                <div class="btt">
                                    <input type="hidden" th:field="${news.idNews}"/>
                                    <input type="hidden" th:field="${news.status}"/>
                                    <button type="submit" class="btn">Save</button>
                                    <button type="reset" class="btn">Cancel</button>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
            <!--  -->
            <!-- jQuery CDN - Slim version (=without AJAX) -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
            <!-- Popper.JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js " integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ " crossorigin="anonymous "></script>
            <!-- Bootstrap JS -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js " integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm " crossorigin="anonymous "></script>
            <!--            <script type="text/javascript">
                            CKEDITOR.replace("infor");
                        </script>-->
            <script>
                ClassicEditor
                        .create(document.querySelector('#infor'), {
                            link: {
                                defaultProtocol: 'http://',
                                decorators: {
                                    openInNewTab: {
                                        mode: 'manual',
                                        label: 'Open in a new tab',
                                        attributes: {
                                            target: '_blank',
                                            rel: 'noopener noreferrer'
                                        }
                                    }
                                }
                            }
                        })
                        .catch(error => {
                            console.error(error);
                        });
            </script>
    </body>

</html>