<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Teacher Create Class Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    </head>

    <body>
        <header class="header" id="header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <h2><a exact="true" class="logo" th:href="@{#}">LMS</a></h2>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    </li>
                </ul>
                <div sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" style=" color: #7d99ff; " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome <b><span sec:authentication="name">Username</span></b>
                                <span sec:authentication="principal.authorities">Roles</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <li>
                        <a th:href="@{/teacher/home}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li class="active">
                        <a th:href="@{/teacher/subject}"><i class="fas fa-list-ul"></i>Subject</a>
                    </li>
                    <li>
                        <a th:href="@{/teacher/account}"><i class="fas fa-id-card"></i>Account</a>
                    </li>
                </ul>
            </nav>
            <!-- Page Content -->
            <div id="content">
                <div class="container-fluid">
                    <h3><i class="fas fa-list-ul"></i> Subject</h3>
                    <div class="main-container">
                        <h3 th:text="${msgError}" style="color: red" text-center></h3>

                        <div class="row-12 pb-5 mb-4">
                            <form th:action="@{/teacher/subject/createClass}" th:object="${class}" method="POST" id="login-form" class="form-group">
                                <div class="form-group">
                                    <label>ID Subject</label>
                                    <input type="text" th:field="*{idSubject}" readonly class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Class Name</label>
                                    <input type="text" th:field="*{nameClass}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" th:field="*{password}" class="form-control">
                                </div>
                                <div class="form-group" style=" text-align: center; ">
                                    <input type="hidden" th:field="*{idUser}" />
                                    <button type="submit" class="btn btn-success">Add</button>
                                    <button type="reset" class="btn btn-info">Reset</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script>
            $('#create-subject-form').hide();
            $('#create-subject-button').click(function () {
                $('#create-subject-form').toggle('slow');
            });
        </script>
    </body>

</html>