<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Teacher Assignment Grade Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/adminViewStuAssign.css}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>

        <style>
            form {
                text-align: left;
            }
            .btn:hover, .btn:focus{
                background-color: #017BFF;
            }
        </style>
    </head>

    <body>
        <header th:replace="~{/teacherAssignmentHeaderPage}"></header>
        <!-- Page Content -->
        <div id="content">
            <div class="container-fluid">

                <ul class="as rounded">
                    <li class="bg-secondary"><a th:href="@{/teacher/assignment/list}">List Assignment</a></li>
                    <li><a th:href="@{/teacher/assignment/create}">Create</a></li>
                </ul>

                <div class="main-container">

                    <form class="border rounded p-3 bg-white" th:action="@{'/teacher/assignment/grade/detail/submit/' + ${assignmentOfUserData.idAssignmentOfUser}}">

                        <h3><span th:text="${userFullName}"></span> submission</h3>

                        <div class="mb-3">
                            <label>
                                <strong>Id Assignment:</strong>
                            </label>
                            <input class="form-control col-5" th:value="${assignmentOfUserData.idAssignment}" readonly>
                        </div>

                        <div class="mb-3">
                            <label>
                                <strong>Id Class</strong>
                            </label>
                            <input class="form-control col-5" th:value="${assignmentOfUserData.idClass}" readonly>
                        </div>

                        <div class="mb-3">
                            <label>
                                <strong>Id User</strong>
                            </label>
                            <input class="form-control col-5" th:value="${assignmentOfUserData.idUser}" readonly>
                        </div>

                        <div class="mb-3">
                            <label>
                                <strong>Content</strong>
                            </label>
                            <div>
                                <textarea id="editors" th:name="content" th:utext="${assignmentOfUserData.content}" readonly></textarea>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label>
                                <strong>Attachments</strong>
                            </label>

                            <div th:if="${assignmentOfUserData.attachments != null and !assignmentOfUserData.attachments.empty}">
                                <label>Download link: </label>
                                <a class="text-primary" th:href="@{${assignmentOfUserData.attachments}}" download>download</a>
                            </div>
                            <div th:unless="${assignmentOfUserData.attachments != null and !assignmentOfUserData.attachments.empty}">
                                <label>Download link: No files to download</label>                                
                            </div>
                        </div>

                        <!--                        <div class="mb-3">
                                                    <span class="text-danger" th:if="${assignmentReportData == null}" >Not Graded</span>
                                                    <span class="text-success" th:if="${assignmentReportData != null}" >Graded</span>
                                                </div>-->
                        <div class="mb-3">
                            <span class="text-danger" th:if="${assignmentOfUserData.grade == -1}" >Not Graded</span>
                            <span class="text-success" th:if="${assignmentOfUserData.grade != -1}" >Graded</span>
                        </div>

                        <!--                        <div class="mb-3">
                                                    <input class="form-control col-5" type="number" min="0" max="10" th:name="mark" value="0" th:if="${assignmentReportData == null}" >
                                                    <input class="form-control col-5" type="number" min="0" max="10" th:name="mark"  th:if="${assignmentReportData != null}" th:value="${assignmentReportData.grade}">
                                                </div>-->
                        <div class="mb-3">
                            <input class="form-control col-5" type="number" min="0" max="10" th:name="mark" value="0" th:if="${assignmentOfUserData.grade == -1}" >
                            <input class="form-control col-5" type="number" min="0" max="10" th:name="mark"  th:if="${assignmentOfUserData.grade != -1}" th:value="${assignmentOfUserData.grade}">
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Grade</button>
                            <a th:href="@{/teacher/assignment/grade/class/page/1}">Cancel</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script>
        let editor;
        ClassicEditor
                .create(document.querySelector('#editors'))
                .then(newEditor => {
                    editor = newEditor;
                    editor.isReadOnly = true;
                })
                .catch(error => {
                    console.error(error);
                });

    </script>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js " integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ " crossorigin="anonymous "></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js " integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm " crossorigin="anonymous "></script>

</body>

</html>