<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>LMS - Assignments</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    </head>

    <body>
        <header class="header" id="header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <h2><a exact="true" class="logo" href="shopping">LMS</a></h2>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" style=" color: #7d99ff; " data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" >
                            <span sec:authentication="name">Username</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                        </div>
                    </li>
                </ul>

            </nav>
        </header>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <li>
                        <a href="teacherHome.html"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="teacherAccount.html"><i class="fas fa-id-card"></i>Account</a>
                    </li>
                    <li class="active">
                        <a th:href="@{/teacher/subject/showAllSubjectOfTeacher/1}"><i class="fas fa-list-ul"></i>Subject</a>
                    </li>
                    <li>
                        <a href="teacher-assignment.html"><i class="fas fa-hand-point-right"></i>Assignment</a>
                    </li>
                    <li class="act" th:if="${session.idClass != null}">
                        <a th:href="@{'/teacher/quiz/showListQuiz/'+${session.idClass}}+'/1'"><i class="fas fa-hand-point-right"></i>Quiz</a>
                    </li>
                    <li class="act" th:if="${session.idClass == null}">
                        <a th:href="@{'/teacher/quiz/showQuizesOfTeacher/'+${session.idSubject}+'/1'}"><i class="fas fa-hand-point-right"></i>Quiz</a>
                    </li>
                </ul>
            </nav>
            <!-- Page Content -->
            <div id="content">
                <div class="container-fluid">
                    <div class="main-container">
                        <fieldset>
                            <legend><strong>Add Quiz</strong></legend>
                            <form class="form-add-product" th:action="@{/teacher/quiz/create/save}" style="margin-top: 20px;" method="POST">
                                <div>
                                    <label>
                                        <strong>
                                            Quiz name</strong>
                                    </label>
                                    <div>
                                        <input  type="text" name="nameQuiz" th:value="${session.newQuiz != null} ? ${session.newQuiz.nameQuiz}" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <strong>
                                            Number of question</strong>
                                    </label>
                                    <div>
                                        <input  type="number" name="numOfQues" min="1"  th:value="${session.newQuiz != null} ? ${session.questions.size()}" 
                                                th:max="${session.newQuiz != null} ? ${session.questions.size()}" th:disabled="${session.newQuiz == null OR session.questions.isEmpty()}" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <strong>
                                            Time limit</strong>
                                    </label>
                                    <div>
                                        <input type="number" name="timeLimit" min="1" th:value="${session.newQuiz != null} ? ${session.newQuiz.timeLimit}" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><strong>
                                            Open Date</strong></label>
                                    <div>
                                        <input type="datetime-local" name="openDate" id="openDate" onchange="changeMinDueDate();"
                                               th:value="${session.newQuiz != null} ? ${#dates.format(session.newQuiz.openDate,'yyyy-MM-dd')}+'T'+${#dates.format(session.newQuiz.openDate,'HH:mm:ss')}" required /> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><strong>Due Date</strong></label>
                                    <div>
                                        <input type="datetime-local" name="dueDate" id="dueDate" onchange="changeMaxOpenDate();"
                                               th:value="${session.newQuiz != null} ? ${#dates.format(session.newQuiz.dueDate,'yyyy-MM-dd')}+'T'+${#dates.format(session.newQuiz.dueDate,'HH:mm:ss')}" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Status: </label>
                                    <select name="status">
                                        <option value="started" th:selected="${session.newQuiz != null AND session.newQuiz.status == 'started'}">started</option>
                                        <option value="not started" th:selected="${session.newQuiz != null AND session.newQuiz.status == 'not started'}">not started</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary" name="action" value="addQuestion">Add Questions</button>
                                    <button th:if="${session.newQuiz != null}" type="submit" class="btn btn-primary"  name="action" value="createQuiz">Create</button>
                                    <a th:if="${session.idClass != null}" th:href="@{'/teacher/quiz/showListQuiz/'+${session.idClass}+'/1'}" class="btn btn-light">Cancel</a>
                                    <a th:if="${session.idClass == null}" th:href="@{'/teacher/quiz/showQuizesOfTeacher/'+${session.idSubject}+'/1'}"><i class="btn btn-light"></i>Cancel</a>
                                </div>
                            </form>
                        </fieldset>

                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script type="text/javascript">
                                            function changeMinDueDate() {
                                                document.getElementById("dueDate").setAttribute('min', document.getElementById("openDate").value);
                                            }
                                            function changeMaxOpenDate() {
                                                document.getElementById("openDate").setAttribute('max', document.getElementById("dueDate").value);
                                            }
        </script>
    </body>

</html>